<?xml version="1.0"?>
<configuration>
	<system.web>
		<sessionState/>
		<roleManager/>
		<membership/>
		<identity/>
		<authentication/>
	</system.web>
	<appSettings>
	<add key="NotificationService.WebServiceProxies.EventReciever" value="http://localhost:31634/DecissionService/EventReciever.asmx"/>
	</appSettings></configuration>
