<?xml version="1.0"?>
<configuration>
	<system.web>
		<sessionState/>
		<roleManager/>
		<membership/>
		<identity/>
		<authentication/>
	</system.web>
	<appSettings>
	<add key="DecissionService.WebServiceProxies.Eventhandler0" value="http://localhost:31634/DecissionService/Eventhandler.asmx"/>
	</appSettings></configuration>
