<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="RDdotNet.TeamFoundation" type="RDdotNet.TeamFoundation.Config.SettingsSection, RDdotNet.TeamFoundation" allowExeDefinition="MachineToLocalUser" />
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<!--add name="FileLog"/-->
					<!-- Uncomment the below section to write to the Application Event Log -->
					<add name="EventLog"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<!--add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/-->
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="TFSEventHandler"/>
		</sharedListeners>
	</system.diagnostics>
	<system.serviceModel>
		<bindings>
   <wsDualHttpBinding>
    <binding name="SecureDualHttpBinding" receiveTimeout="00:10:00"
     clientBaseAddress="http://localhost:6666/" maxReceivedMessageSize="655360">
     <readerQuotas maxStringContentLength="655360" maxArrayLength="655360" />
     <security mode="Message">
      <message clientCredentialType="Windows" negotiateServiceCredential="true"
       algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="mexHttpBinding" clientBaseAddress="http://localhost:6666/">
     <security mode="Message">
      <message clientCredentialType="Windows" negotiateServiceCredential="true"
       algorithmSuite="Default" />
     </security>
    </binding>
   </wsDualHttpBinding>
   <wsHttpBinding>
    <binding name="SecureHttpBinding">
     <security mode="Message">
      <message clientCredentialType="Windows" negotiateServiceCredential="true"
       algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="mexHttpBinding">
     <security mode="Message">
      <message clientCredentialType="Windows" negotiateServiceCredential="true"
       algorithmSuite="Default" />
     </security>
    </binding>
   </wsHttpBinding>
  </bindings>
		<services>
   <service behaviorConfiguration="Behavior" name="RDdotNet.TeamFoundation.WorkItemTracking.AssignedToService">
		<endpoint address="" binding="wsHttpBinding" bindingConfiguration="SecureHttpBinding" contract="RDdotNet.TeamFoundation.INotification" listenUriMode="Explicit" />
		<endpoint address="NotificationAdmin" binding="wsDualHttpBinding" bindingConfiguration="SecureDualHttpBinding" contract="RDdotNet.TeamFoundation.INotificationAdmin" />
		<endpoint address="mex" binding="wsHttpBinding" bindingConfiguration="SecureHttpBinding" contract="IMetadataExchange" />
   </service>
   <service behaviorConfiguration="Behavior" name="RDdotNet.TeamFoundation.EventAdminService">
		<endpoint address="TeamServerAdmin" binding="wsDualHttpBinding" bindingConfiguration="SecureDualHttpBinding" contract="RDdotNet.TeamFoundation.ITeamServerAdmin" />
		<endpoint address="SubscriptionAdmin" binding="wsDualHttpBinding" bindingConfiguration="SecureDualHttpBinding" contract="RDdotNet.TeamFoundation.ISubscriptionAdmin" />
		<endpoint address="NotificationAdmin" binding="wsDualHttpBinding"  bindingConfiguration="SecureDualHttpBinding" contract="RDdotNet.TeamFoundation.INotificationAdmin" />
	    <endpoint address="EventHandlerAdmin" binding="wsDualHttpBinding"  bindingConfiguration="SecureDualHttpBinding" contract="RDdotNet.TeamFoundation.IEventHandlerAdmin" />
		<endpoint address="mex" binding="wsHttpBinding" bindingConfiguration="SecureHttpBinding" contract="IMetadataExchange" />
   </service>
  </services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Behavior">
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="Microsoft.TeamFoundation.Client, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Proxy, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.TeamFoundation.VersionControl.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Client.Cache, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.Common.Library, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Client, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Client.RuleEngine, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.VersionControl.Common.Integration, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Client.Provision, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStore, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.IdentityModel.Selectors, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.VersionControl.Client, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
	</system.web>
	<RDdotNet.TeamFoundation>
		<!--services>
			<service name="AssignedToService"
       subscriber="EMEA\srvteamsetup">
					<Debug logEvents="True"
        verbose="True"
        testMode="True"
        testEmail="martin_hinshelwood@ml.com"
        eventLogPath="C:\temp\TFSEventHandler\AssignedToService\" />
					<Mail mailAddressFrom="teamsystem@ml.com"
        mailFromName="Team Foundation Server"
        mailServer="relay.uk.ml.com" />
			</service>
		</services-->
		<Repository localPath="C:\Working\Workspaces\mltfsprod\GBT\Team System\Core\TeamFoundation-Services\RDdotNet.TeamFoundation.Services\v1.0\EventHandlers\" />
	 </RDdotNet.TeamFoundation>
</configuration>
