<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="RDdotNet.TeamFoundation" type="RDdotNet.TeamFoundation.Config.SettingsSection, RDdotNet.TeamFoundation" allowExeDefinition="MachineToLocalUser"/>
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<!--add name="FileLog"/-->
					<!-- Uncomment the below section to write to the Application Event Log -->
					<add name="EventLog"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<!--add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/-->
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="TFSEventHandler"/>
		</sharedListeners>
	</system.diagnostics>
	<system.serviceModel>
		<services>
			<service name="RDdotNet.TeamFoundation.NotificationService">
				<endpoint address="http://el0997.aggrekonet.biz:8677" binding="basicHttpBinding" bindingConfiguration="" contract="RDdotNet.TeamFoundation.INotificationService"/>
			</service>
		</services>
	</system.serviceModel>
	<RDdotNet.TeamFoundation>
		<BaseAddress url="http://el0997.aggrekonet.biz:3624"/>
		<TeamServers>
			<TeamServer name="TFS01" url="http://gla1vs10.aggrekonet.biz:8080/" subscriber="aggrekonet\svc_tfsservices" mailAddressFrom="tfs01@aggrekonet.com" mailFromName="TFS01" mailServer="mail.aggrekonet.biz" logEvents="True" testMode="True" testEmail="martin.hinshelwood@aggrekonet.co.uk" eventLogPath="C:\temp\TFSEventHandler\">
			</TeamServer>
		</TeamServers>
		<Events>
			<!-- 
						Use one of the following events:
										AclChangedEven
										Branchmovedevent
										BuildCompletionEvent
										BuildStatusChangeEvent
										CommonStructureChangedEvent
										DataChangedEvent
										IdentityChangedEvent
										IdentityCreatedEvent
										IdentityDeletedEvent
										MembershipChangedEvent
										WorkItemChangedEvent)
						Then you need to add handlers for the events.
										  
			       Example:
						   <Event eventType="WorkItemChangedEvent">
								<Handlers>
									<Handler type="RDdotNet.TeamFoundation.WorkItemTracking.AssignedToHandler"
											 assemblyFileName="RDdotNet.TeamFoundation.WorkItemTracking.AssignedTo.dll"
											 assemblyFileLocation="~\EventHandlers\WorkItemTracking\">
									</Handler>
								</Handlers>
							</Event>
					-->
			<Event eventType="WorkItemChangedEvent">
				<Handlers>
					<Handler type="RDdotNet.TeamFoundation.WorkItemTracking.AssignedToHandler" assemblyFileName="RDdotNet.TeamFoundation.WorkItemTracking.Assignement.dll" assemblyFileLocation="~\EventHandlers\">
					</Handler>
				</Handlers>
			</Event>
		</Events>
		<UrlReplacements>
			<!-- The Url Replaces change the url listed in the event to valid public items
			Examples:
				This item changes the TFS url to a TeamPlain v1 url
				<Replace eventType="WorkItemChangedEvent" old=":8080/WorkItemTracking/WorkItem.aspx?artifactMoniker=" new="/workitem.aspx?id=" />
							
				These items change the server location to a public host header:
				<Replace eventType="WorkItemChangedEvent" old="[ServerProductionEnviromentName]" new="[PublicProductionEnviromentUri]" />
				<Replace eventType="WorkItemChangedEvent" old="[ServerDevelopmentEnviromentName]" new="[PublicDevelopmentEnviromentUri]" />
			-->
		</UrlReplacements>
	</RDdotNet.TeamFoundation>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Client" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.VersionControl.Client" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Client.Provision" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.VersionControl.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Client.Cache" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Client.RuleEngine" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStore" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Proxy" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
