<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Hinshelwood.TeamFoundation" type="Hinshelwood.TeamFoundation.Config.SettingsSection, Hinshelwood.TeamFoundation" allowExeDefinition="MachineToLocalUser" />
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<add name="EventLog"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="C:\temp\TFSEventHandler\FileLogWriter" />
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="TFSEventHandler"/>
		</sharedListeners>
	</system.diagnostics>
	<system.serviceModel>
		<services>
			<service name="Hinshelwood.TeamFoundation.NotificationService">
				<endpoint address="http://[LocalMacheneName]:8677" binding="basicHttpBinding"
                    bindingConfiguration="" contract="Hinshelwood.TeamFoundation.INotificationService" />
			</service>
		</services>
	</system.serviceModel>
	<Hinshelwood.TeamFoundation>
		<BaseAddress url="http://[LocalMacheneName]:3624/" />
		<TeamServers>
			<TeamServer name="[TFS Server Name]"
						url="http://[TFS Server Name]:8080/"
						subscriber="[Subscriber AD Account]"
						mailAddressFrom="[From Email Address]"
						mailFromName="[Form name]"
						mailServer="[email relay server]"
						logEvents="True"
						testMode="True"
						testEmail="[email to send testes to]"
						eventLogPath="C:\temp\TFSEventHandler\">
			</TeamServer>
		</TeamServers>
		<Events>
			<!-- 
						Use one of the following events:
										AclChangedEven
										Branchmovedevent
										BuildCompletionEvent
										BuildStatusChangeEvent
										CommonStructureChangedEvent
										DataChangedEvent
										IdentityChangedEvent
										IdentityCreatedEvent
										IdentityDeletedEvent
										MembershipChangedEvent
										WorkItemChangedEvent)
						Then you need to add handlers for the events.
										  
			       Example:
						   <Event eventType="WorkItemChangedEvent">
								<Handlers>
									<Handler type="Hinshelwood.TeamFoundation.WorkItemTracking.AssignedToHandler"
											 assemblyFileName="Hinshelwood.TeamFoundation.WorkItemTracking.AssignedTo.dll"
											 assemblyFileLocation="~\EventHandlers\WorkItemTracking\">
									</Handler>
								</Handlers>
							</Event>
					-->
			<Event eventType="WorkItemChangedEvent">
        <Handlers>
          <Handler type="Hinshelwood.TeamFoundation.WorkItemTracking.AssignedToHandler" assemblyFileName="Hinshelwood.TeamFoundation.WorkItemTracking.Assignement.dll" assemblyFileLocation="~\EventHandlers\">
          </Handler>
          <Handler type="Hinshelwood.TeamFoundation.WorkItemTracking.NotifyCreatorHandler" assemblyFileName="Hinshelwood.TeamFoundation.WorkItemTracking.Assignement.dll" assemblyFileLocation="~\EventHandlers\">
          </Handler>
          <Handler type="Hinshelwood.TeamFoundation.WorkItemTracking.ReAssignedHandler" assemblyFileName="Hinshelwood.TeamFoundation.WorkItemTracking.Assignement.dll" assemblyFileLocation="~\EventHandlers\">
          </Handler>
          <Handler type="Hinshelwood.TeamFoundation.WorkItemTracking.HeatJournalUpdateHandler" assemblyFileName="Hinshelwood.TeamFoundation.WorkItemTracking.HEAT.dll" assemblyFileLocation="~\EventHandlers\">
          </Handler>
        </Handlers>
			</Event>
		</Events>
		<UrlReplacements>
			<!-- The Url Replaces change the url listed in the event to valid public items
			Examples:
				This item changes the TFS url to a TeamPlain v1 url
				<Replace eventType="WorkItemChangedEvent" old=":8080/WorkItemTracking/WorkItem.aspx?artifactMoniker=" new="/workitem.aspx?id=" />
							
				These items change the server location to a public host header:
				<Replace eventType="WorkItemChangedEvent" old="[ServerProductionEnviromentName]" new="[PublicProductionEnviromentUri]" />
				<Replace eventType="WorkItemChangedEvent" old="[ServerDevelopmentEnviromentName]" new="[PublicDevelopmentEnviromentUri]" />
			-->
		</UrlReplacements>
	</Hinshelwood.TeamFoundation>
</configuration>
