<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="RDdotNet.TeamFoundation" type="RDdotNet.TeamFoundation.Config.SettingsSection, RDdotNet.TeamFoundation" allowExeDefinition="MachineToLocalUser" />
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<!--add name="FileLog"/-->
					<!-- Uncomment the below section to write to the Application Event Log -->
					<add name="EventLog"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<!--add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/-->
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="TFSEventHandler"/>
		</sharedListeners>
	</system.diagnostics>
	<RDdotNet.TeamFoundation>
		<BaseAddress url="http://EGLAVM060:3624/" />
		<TeamServers>
			<TeamServer name="elonmapteamd01.uk.ml.com"
						url="http://elonmapteamd01.uk.ml.com:8080/"
						subscriber="EMEA\srvteamsetup"
						mailAddressFrom="teamsystem@ml.com"
						mailFromName="Team Foundation Server"
						mailServer="relay.uk.ml.com"
						logEvents="True"
						testMode="True" 
						testEmail="martin_hinshelwood@ml.com" 
						eventLogPath="C:\temp\TFSEventHandler\">
			</TeamServer>
		</TeamServers>
		<Events>
			<!-- 
						Use one of the following events:
										AclChangedEven
										Branchmovedevent
										BuildCompletionEvent
										BuildStatusChangeEvent
										CommonStructureChangedEvent
										DataChangedEvent
										IdentityChangedEvent
										IdentityCreatedEvent
										IdentityDeletedEvent
										MembershipChangedEvent
										WorkItemChangedEvent
										CheckinEvent
					-->
			<Event eventType="WorkItemChangedEvent">
				<Handlers>
					<Handler type="RDdotNet.TeamFoundation.WorkItemTracking.AssignedToHandler"
							 assemblyFileName="RDdotNet.TeamFoundation.WorkItemTracking.AssignedTo.dll"
							 assemblyFileLocation="~\">
					</Handler>
				</Handlers>
			</Event>
			<!--<Event eventType="CheckinEvent">
				<Handlers>
					<Handler type="RDdotNet.TeamFoundation.SourceControl.ChangeSetHandler"
							 assemblyFileName="RDdotNet.TeamFoundation.SourceControl.ChangeSet.dll"
							 assemblyFileLocation="~\">
					</Handler>
				</Handlers>
			</Event>-->
		</Events>
		<UrlReplacements>
			<Replace eventType="WorkItemChangedEvent" old=":8080/WorkItemTracking/WorkItem.aspx?artifactMoniker=" new="/workitem.aspx?id=" />
			<Replace eventType="WorkItemChangedEvent" old="elonmapteamp01.uk.ml.com" new="team.worldnet.ml.com" />
			<Replace eventType="WorkItemChangedEvent" old="elonmapteamp01" new="team.worldnet.ml.com" />
			<Replace eventType="WorkItemChangedEvent" old="elonmapteamd01.uk.ml.com" new="team.worldnet-dev.ml.com" />
			<Replace eventType="WorkItemChangedEvent" old="elonmapteamd01" new="team.worldnet-dev.ml.com" />
		</UrlReplacements>
	</RDdotNet.TeamFoundation>
</configuration>
