<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RDdotNet.TeamFoundation" type="RDdotNet.TeamFoundation.Config.TeamFoundationSettingsSection,
                                       RDdotNet.TeamFoundation" />
  </configSections>
  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <RDdotNet.TeamFoundation>
    <Servers>
      <clear />
      <Server name="http://tfs01.aggrekonet.biz:8080/" uri="http://tfs01.aggrekonet.biz:8080/">
        <Credentials username="" password="" domain="" />
      </Server>
    </Servers>
    <HandlerAssemblies>
      <Assembly assemblyFileName="RDdotNet.Assembly1.dll" assemblyFileLocation="~\Assembly1\" />
      <Assembly assemblyFileName="RDdotNet.Assembly2.dll" assemblyFileLocation="~\Assembly2\" />
      <Assembly assemblyFileName="RDdotNet.TeamFoundation.Handlers.Demo.dll" assemblyFileLocation="~\Demo\" />
    </HandlerAssemblies>
    <Repository localPath="~\EventHandlers\" />
  </RDdotNet.TeamFoundation>
</configuration>
