<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ITeamServerAdmin" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" />
                    <security mode="Message">
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WSDualHttpBinding_ISubscriptionAdmin" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" />
                    <security mode="Message">
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WSDualHttpBinding_INotificationAdmin" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" />
                    <security mode="Message">
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WSDualHttpBinding_IEventHandlerAdmin" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" />
                    <security mode="Message">
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://eglavm060.emea.win.ml.com/RDdotNetTeamServices/v1.0/EventAdmin.svc/TeamServerAdmin"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITeamServerAdmin"
                contract="EventAdmin.ITeamServerAdmin" name="WSDualHttpBinding_ITeamServerAdmin">
                <identity>
                    <userPrincipalName value="EGLAVM060\ASPNET" />
                </identity>
            </endpoint>
            <endpoint address="http://eglavm060.emea.win.ml.com/RDdotNetTeamServices/v1.0/EventAdmin.svc/SubscriptionAdmin"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISubscriptionAdmin"
                contract="EventAdmin.ISubscriptionAdmin" name="WSDualHttpBinding_ISubscriptionAdmin">
                <identity>
                    <userPrincipalName value="EGLAVM060\ASPNET" />
                </identity>
            </endpoint>
            <endpoint address="http://eglavm060.emea.win.ml.com/RDdotNetTeamServices/v1.0/EventAdmin.svc/NotificationAdmin"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_INotificationAdmin"
                contract="EventAdmin.INotificationAdmin" name="WSDualHttpBinding_INotificationAdmin">
                <identity>
                    <userPrincipalName value="EGLAVM060\ASPNET" />
                </identity>
            </endpoint>
            <endpoint address="http://eglavm060.emea.win.ml.com/RDdotNetTeamServices/v1.0/EventAdmin.svc/EventHandlerAdmin"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IEventHandlerAdmin"
                contract="EventAdmin.IEventHandlerAdmin" name="WSDualHttpBinding_IEventHandlerAdmin">
                <identity>
                    <userPrincipalName value="EGLAVM060\ASPNET" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
