<?xml version="1.0"?>
<configuration>
	<system.web>
		<sessionState/>
		<roleManager/>
		<membership/>
		<identity/>
		<authentication/>
	</system.web>
	<appSettings>
	</appSettings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="NotificationServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="NotificationServiceBehavior" name="NotificationService">
				<endpoint address="" binding="wsHttpBinding" contract="INotificationService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
